.cards-places{
  border-radius: 10px;
}
.slide-text{
  position: absolute;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  bottom: 30px;
  font-weight: 700;
  left: 10px;
}

.slide-subtitle{
  position: absolute;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  bottom: 10px;
  left: 10px;
}

.weather{
  font-family: 'Montserrat';
  color: #212121;
  margin-top: -5%;
}